@font-face {
    font-family: CustomFont;
    src: url("../media/font/VarelaRound-Regular.ttf");
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
}

* {
    box-sizing: border-box;
    color: #d3d3d3;
}

#timer {
    font-family: CustomFont;
    font-size: 4vh;
}

.main-container {
    width: 55vw;
    min-height: 50vh;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 3.5em;
    padding: 2em;
    /* backdrop-filter: blur(5px); */
}

#timer {
    text-align: center;
}
#display-field {
    word-wrap: break-word;
}

input[type="text"] {
    width: 100%;
    height: 3em;
    padding: 0 1em;

    border-radius: 50em;
    outline: none;
    border: none;

    background-color: #fca311;
    opacity: 1;

    color: #303030;
    font-weight: 500;
    font-size: large;
}

input[type="text"]::placeholder {
    color: #303030;
    font-weight: 500;
    font-size: large;
}

.links {
    display: flex;
    height: 100%;
    justify-content: center;
    padding-top: 1.5em;
}

.link {
    margin: 0 auto;
    max-width: 2em;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    border-radius: 2em;
    padding: 1.2em;
}

.subtitle {
    text-align: center;
    font-size: large;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 1em;
}

.link-icon {
    max-width: 100%;
    max-height: 100%;
}
